/*------------------*/
/*----- GLOBAL -----*/
/*------------------*/
/* Firefox */
input {
  &[type="number"] {
    -moz-appearance: textfield;
  }
  display: inline-block;
}

/* keep calcuator paragraph inline */
.c-rich-text__section {
  margin-left: 0;
}

/* hide js section in page builder */
.dev-js {
  display: none;
}

/*----------------*/
/*----- HERO -----*/
/*----------------*/

.dev-ds_hero {
  .overlay {
    background-color: rgba(0, 0, 0, 0.1) !important;
  }

  .c-rich-text__section {
    margin-left: 20px;
    width: 50%;
    color: var(--headingColor) !important;
  }

  h2 {
    /* font-size: 56px !important; */
    margin-top: 0;
    color: var(--headingColor) !important;
  }

  p {
    font-size: 20px !important;
    color: #000;
  }

  .o-container {
    padding-top: 125px !important;
    padding-bottom: 125px !important;
  }
}

h1 {
  /* text-align: center; */
  color: #000;
}

/*----------------------*/
/*----- CALCULATOR -----*/
/*----------------------*/

.dev-calculator {
  form {
    /* background-color: #fff; */
    /* padding: 20px; */
    border-radius: 8px;
    margin-bottom: 20px;
    /* display: flex;
    flex-direction: column; */
    font-size: 26px;
    font-weight: 300px;

    p {
      line-height: 2;
      /* color: #000000; */
    }

    h2 {
      font-weight: bold !important;
      font-size: 36px;
    }

    div {
      margin-bottom: 15px;
    }
  }

  label {
    margin-right: 5px;
    /* color: #555; */
  }

  input[type="number"] {
    padding: 8px 8px 0 8px;
    border: 0 !important;
    border-radius: 0 !important;
    border-bottom: 1.5px solid #145bff !important;
    box-sizing: border-box;
    margin-right: 5px;
    width: 150px;
    text-align: center;
    font-size: 26px;
    font-weight: 300px;
  }

  button {
    color: var(--btnTextColor, #fff);
    background: var(--btnBackgroundColor, var(--paletteColor3, inherit));
    border: var(--btnBorderWidth, 0px) solid var(--btnBorderColor, transparent);
    border-radius: var(--btnBorderRadius, 0px);
    font-size: 16px;

    /* font-size: var(--btnFontSize, inherit); */
    text-transform: var(--btnTextTransform, uppercase);
    font-weight: var(--btnFontWeight, bold);
    padding: var(--btnPadding, 15px 20px);
    opacity: 0.5;

    /* Style for disabled state */
    &:hover {
      background-color: #2d69ff;
    }
  }

  #results {
    background-color: #e3e3e3;
    padding: 50px;
    margin-top: 50px;
    border-radius: 8px;
    display: none;

    /* Hide the results section initially */
    h2 {
      margin-top: 0;
      color: #000;
    }

    p {
      margin-bottom: 10px;
      /* color: #555; */
    }
  }

  .input-row {
    display: flex;
    flex-wrap: wrap;
    align-items: center;

    label {
      margin-bottom: 0;
    }
  }

  #incomeExpensesChart {
    width: 100% !important;
    max-height: 400px !important;
  }

  #savePdfButton {
    display: none;
    cursor: pointer;
    opacity: 1;
    background-color: var(--paletteColor3);

    &:hover {
      background-color: #2d69ff;
    }
  }
}

/*---------------*/
/*----- CTA -----*/
/*---------------*/

.dev-ds .c-btn {
  background-color: var(--paletteColor3);
}


@media (max-width: 600px) {
  form {
    padding: 10px;
  }

  button {
    width: 100%;
  }

  .input-row {
    flex-direction: column;
    align-items: flex-start;

    input {
      margin-bottom: 10px;
      width: calc(100% - 20px);
    }

    label {
      margin-right: 0;
    }
  }
}

/*-------------------*/
/*----- TOOLTIP -----*/
/*-------------------*/
/* Styling for the container of the inline tooltip */
.inline-tooltip-container {
  position: relative;
  display: inline-block;
  vertical-align: middle;
  margin: 0 4px;
  cursor: help;
}

/* Styling for the question mark trigger */
.question-mark-trigger {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  width: 20px;
  height: 20px;
  background-color: #007bff;
  color: #fff;
  border-radius: 50%;
  font-size: 14px;
  font-weight: bold;
  user-select: none;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
}

/* Styling for the tooltip text */
.tooltip-text {
  visibility: hidden;
  width: 350px;
  background-color: #333;
  color: #fff;
  text-align: center;
  border-radius: 6px;
  padding: 8px 10px;
  font-size: 16px;

  /* Position the tooltip */
  position: absolute;
  z-index: 10;
  bottom: 150%;

  /* Position higher above the circle */
  /* left: 30%; */
  transform: translateX(-50%);
  opacity: 0;
  transition: opacity 0.3s, transform 0.3s;
  pointer-events: none;
  white-space: normal;

  &::after {
    content: "";
    position: absolute;
    top: 100%;
    left: 50%;
    margin-left: -5px;
    border-width: 5px;
    border-style: solid;
    border-color: #333 transparent transparent transparent;
  }
}

/* Tooltip arrow */
.inline-tooltip-container:hover .tooltip-text {
  visibility: visible;
  opacity: 1;
  transform: translateX(-50%) translateY(-5px);
}